html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-size: small;
    /*margin-top: -.5em;*/
}

.pure-table td, .pure-table th{
    padding-left: 0.2em;
    padding-right: 0.2em;    
    padding-top: 0.3em;    
    padding-bottom: 0.3em;    
}

.pure-form fieldset{
    padding-top: 0.2em;    
    padding-bottom: 0.2em; 
}

.pure-table tr, .pure-table tr{
    padding-right: 1em;
}
table.pure-table.issues-table{
    width:100vw;
}
.sm,.md,.lg,.xl{ display: table-cell; }

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 100%;
}

th
{
    cursor: pointer;
}

th span{
     float: left
}
th span .sort-icon{
   margin-left: 1em;
}

td > div{
    width: 0.8em;
    height: 0.8em;
    border-radius: .4em;
}

td > .blocker{
    background: red; 
}
td > .critical{
    background: orangered; 
} 
td > .major{
    background: yellow;
} 
td > .minor{
    background: yellowgreen; 
} 
td > .trivial{
    background: green; 
}

@media screen and (max-width: 35.5em){
    .lg,.xl{ display: none; }
}

@media screen and (max-width: 48em){   
    .xl{ display: none; }
}

@media screen and (max-width: 64em){
    /*.xl{ display: none; }*/
}

@media screen and (max-width: 80em){

}
